{{#each products}}
  <div class="row">
    {{#each this}}
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="{{this.imagePath}}"
            class="card-img-top image"
          />
          <div class="card-body">
            <h5 class="card-title img-titel">{{this.productName}}</h5>
            <p class="card-text img-des">
              Storage Capacity : {{this.information.storageCapacity}} GB
              <br />
              Number Of SIM : {{this.information.numberOfSIM}}
              <br />
              Rear Camera Resolution : {{this.information.cameraResolution}} MP
              <br />
              Display Size (Inch) :  {{this.information.displaySize}} Inch
            </p>
            <div class="pri-link">
              <p style="font-weight: bold;">{{this.price}} $</p>
              <a href="#" class="btn btn-success">Buy</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}

